<!--      <div class="w-full md:w-auto flex justify-center md:justify-start">
        <div
          class="fb-page w-full max-w-full md:max-w-none"
          data-href="https://www.facebook.com/OohRecordsAah"
          data-tabs="timeline"
          data-width="650"
          data-height="500"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
        ></div>
      </div> -->

      <div class="w-full max-w-[650px] mx-auto rounded-xl overflow-hidden shadow-lg border">
  <div class="h-[500px] overflow-y-scroll">
    <img 
      src="/facebookstor.png" 
      alt="Scrollable content" 
      class="w-full object-cover"
    />
  </div>
</div>
